DJANGO_SECRET_KEY=solo-para-desarrollo-local
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=cooperadora
POSTGRES_USER=cooperadora
POSTGRES_PASSWORD=cooperadora_local
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
